@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-light-587ebe5a59211.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-rounded-bold-5871d05ead8de.otf");
  font-weight: 900;
}
